<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicy.system.dao.GroupMapper">
	<resultMap id="GroupMap" type="com.sicy.system.vo.GroupInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="group_name" property="group_name" jdbcType="VARCHAR" />
		<result column="group_desc" property="group_desc" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="saveGroup" parameterType="com.sicy.system.vo.GroupInfo">
		insert into t_sys_group (group_name, group_desc)
		values(
			#{group_name},#{group_desc}
		)
	</insert>
	
	<update id="modifyGroup" parameterType="com.sicy.system.vo.GroupInfo">
		update t_sys_group
		<set>
			<if test="group_name != null">
				group_name = #{group_name},
			</if>
			<if test="group_desc != null">
				group_desc = #{group_desc},
			</if>
		</set> 
		<where>
			id = #{id}
		</where>
	</update>
	
	<delete id="deleteGroup" parameterType="java.lang.Integer">
		delete from t_sys_group where id = #{id}
	</delete>
	
	<select id="queryAllGroup" resultMap="GroupMap">
		select * from t_sys_group order by id
	</select>
	
	<select id="checkGroupName" resultType="java.lang.Integer">
		select count(*) from t_sys_group where group_name = #{group_name}
		<if test="id != -1">
			and id &lt;&gt; #{id}
		</if>
	</select>

</mapper>